<div class="container mt-5 mb-5 col-xxl-10 col-xl-10 col-lg-4 col-md-4 col-sm-12 col-12">
  <div class="container card shadow-sm rounded-3 p-4">
    <h1 class="text-center brand-title">Marcas de Autos</h1>
    <div class="d-flex center">
      <button class="btn btn-lg btn-primary m-4 mx-auto" type="button" id="obtener" (click)="obtenerMarcas()">Obtener
        Marcas</button>
    </div>

    <div class="card-container row">
      <div class="col-md-2" *ngFor="let marca of marcas">
        <button class="btn-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="obtenerModelosPorMarca(marca)">
          {{ marca.name }}
        </button>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 brand-title" id="exampleModalLabel">Modelos de {{ marcaSeleccionada?.name }}
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-unstyled model-list">
              <li *ngFor="let modelo of modelos">{{ modelo.name }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-custom">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
